/**
* General
*/
html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: #9e89a9;
    color: white;
}

input {
    font-size: 1rem;
    appearance: textfield;
}

#main-container {
    height: 100%;
    font-family: arial;
    font-size: 1.5rem;

    #instructions {
        padding: 10px;
    }

    /**
    * Buttons
    */
    .button-container {
        font-size: 0;
        /* width: 225px; */
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
    }

    .two-step-button {
        color: #000000;
        width: 100px;
        height: 50px;
        font-size: 1rem;
        border: solid 1px ;
        border-radius: 10px;
        cursor: pointer;

        &.pressed {
            color: white;
            background-color: darkgray;
        }

        &#delete-one,
        &#get-history {
            margin-left: 10px;
        }
    }

    /**
    * Word boxes
    */
    .box {
        box-sizing: border-box;
        font-weight: 600;
        position: absolute;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 3px;
        border-radius: 10px;
        text-transform: uppercase;
        border-color: #3d3522;

        span {
            pointer-events: none;
        }

        &.static {
            color: #000;
            background-color: #caf7e2;
        }

        &.moving {
            color: #caf7e2;
            border-color: #caf7e2;
            background-color: #58b09c;
        }

        &.pre-delete {
            background-color: #ffcae9;

            &.pressed {
                color: #caf7e2;
                border-color: #caf7e2;
                background-color: #ff37a6;
            }
        }
    }

    /**
    * Input form
    */
    form {
        input {
            height: 2rem;
            border-radius: 10px;
            border: solid;
            border-color: #3d3522;
        }

        &#add-word {
            position: absolute;
            bottom: 40px;
            left: 20px;
        }

        #submit-new-word {
            height: 2.5rem;
            cursor: pointer;
        }
    }

    /**
    * Results modal
    */
    .results-container {
        display: flex;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.2);
        height: 100%;
        width: 100%;
        position: absolute;
        justify-content: center;
        align-items: center;

        &.showing-results {
            @media (max-width: 768px) {
                align-items: flex-start;
            }
        }

        .results-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            background-color: #ffffff;
            opacity: 1;
            width: 75%;
            max-width: 675px;
            border-radius: 10px;
            box-sizing: border-box;
            padding: 30px;
            box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.5);

            @media (max-width: 768px) {
                width: 100%;
                max-width: 100%;
                min-height: 100%;
                border-radius: 0;
            }

            #results-rows {
                width: 100%;

                #results-title {
                    color: #000000;
                    margin-bottom: 20px;
                    font-weight: 600;
                }

                .result-row {
                    box-sizing: border-box;
                    color: #000000;
                    border-radius: 10px;
                    width: 100%;
                    margin: 10px 0;
                    padding: 15px;

                    .group {
                        font-size: 1.5rem;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }

                    .members {
                        font-size: 1.25rem;
                    }

                    &#row-0 {
                        background-color: rgb(251, 212, 0);
                    }

                    &#row-1 {
                        background-color: rgb(181, 227, 82);
                    }

                    &#row-2 {
                        background-color: rgb(114, 158, 235);
                    }

                    &#row-3 {
                        background-color: rgb(188, 112, 196);
                    }
                }
            }

            form.select-day {
                color: #000000;
                max-width: 500px;

                #select-day-instructions {
                    margin-top: 20px;
                    margin-bottom: 15px;
                    font-size: 1.25rem;
                }

                .select-day-inputs {
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    
                    input {
                        height: inherit;
                        box-sizing: border-box;
                        margin: 0 10px;
                        width: 70px;
                        border: solid 2px;
                    }

                    input[type="number"] {
                        width: 70px;
                        font-size: 1.5rem;
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            appearance: none;
                        }
            
                    }
                }
            }

            #close-results {
                font-size: 1.25rem;
                margin-top: 20px;
                margin-bottom: 40px; // push whole form slightly above center
                width: 335px;
                max-width: 95%;
                height: 50px;
                background-color: #000000;
                color: #ffffff;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }

    /**
    * General to override any other display options
    */
    .hidden {
        display: none;
    }
}
