body {
    background-color: dimgray;
}

#main-container {
    font-family: arial;
    font-size: 1.5rem;
    color: white;
}

.box {
    position: absolute;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 10px;
}

.static {
    color: black;
    background-color: cornsilk;
}

.moving {
    color: seashell;
    background-color: saddlebrown;
}
