body {
    background-color: dimgray;
}

#instructions {
    padding: 0 20px;
}

#main-container {
    font-family: arial;
    font-size: 1.5rem;
    color: white;
}

form {
    position: absolute;
    bottom: 40px;
    left: 20px;
}

input {
    font-size: 1.5rem;
}

.hidden {
    display: none;
}

.box {
    position: absolute;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    text-transform: uppercase;
}

.static {
    color: black;
    background-color: cornsilk;
}

.moving {
    color: seashell;
    background-color: saddlebrown;
}
