html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: dimgray;
}

#instructions {
    padding: 0 20px;
}

#main-container {
    height: 100%;
    font-family: arial;
    font-size: 1.5rem;
    color: white;
}

form {
    position: absolute;
    bottom: 40px;
    left: 20px;
}

input {
    font-size: 1rem;
    height: 2rem;
    border-radius: 10px;
    border: solid;
}

#submit-new-word {
    height: 2.5rem;
}

.delete-button {
    width: 100px;
    height: 50px;
    font-size: 1.0rem;
    position: absolute;
    border: solid;
    border-radius: 10px;
}

.pressed {
    color: white;
    background-color: darkgray;
}

/* #delete-active {
    bottom: 280px;
}

#delete-all {
    bottom: 120px;
} */

.hidden {
    display: none;
}

.box {
    box-sizing: border-box;
    font-weight: 600;
    position: absolute;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 10px;
    text-transform: uppercase;
}

.box span {
    pointer-events: none;
}

.static {
    color: black;
    background-color: cornsilk;
}

.moving {
    color: seashell;
    background-color: saddlebrown;
}
