body {
    background-color: dimgray;
}

#instructions {
    padding: 0 20px;
}

#main-container {
    font-family: arial;
    font-size: 1.5rem;
    color: white;
}

form {
    position: absolute;
    bottom: 40px;
    left: 20px;
}

input {
    font-size: 1.5rem;
    height: 60px
}

.delete-button {
    width: 250px;
    height: 150px;
    font-size: 1.5rem;
    position: absolute;
    left: 20px;
    border: solid;
    border-radius: 10px;
}

.pressed {
    background-color: gray;
}

#delete-active {
    bottom: 280px;
}

#delete-all {
    bottom: 120px;
}

.hidden {
    display: none;
}

.box {
    box-sizing: border-box;
    font-weight: 600;
    position: absolute;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 10px;
    text-transform: uppercase;
}

.static {
    color: black;
    background-color: cornsilk;
}

.moving {
    color: seashell;
    background-color: saddlebrown;
}
