/**
* Animation mixins
*/
/**
* General
*/
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #9e89a9;
  color: white;
}

input {
  font-size: 1rem;
  appearance: textfield;
}

#main-container {
  height: 100%;
  font-family: arial;
  font-size: 1.5rem;
  /**
  * Buttons
  */
  /**
  * Word boxes
  */
  /**
  * Input form
  */
  /**
  * Results modal
  */
  /**
  * Spinner
  */
  /**
  * General to override any other display options
  */
}
#main-container #instructions {
  text-align: center;
  padding: 10px;
}
#main-container .button-container {
  font-size: 0;
  /* width: 225px; */
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
}
#main-container .two-step-button {
  color: #000000;
  width: 100px;
  height: 50px;
  font-size: 1rem;
  border: solid 1px;
  border-radius: 10px;
  cursor: pointer;
}
#main-container .two-step-button.pressed {
  color: white;
  background-color: darkgray;
}
#main-container .two-step-button#delete-one, #main-container .two-step-button#get-history {
  margin-left: 10px;
}
#main-container .box {
  box-sizing: border-box;
  font-weight: 600;
  position: absolute;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px;
  border-radius: 10px;
  text-transform: uppercase;
  border-color: #3d3522;
}
#main-container .box span {
  pointer-events: none;
}
#main-container .box.static {
  color: #000;
  background-color: #caf7e2;
}
#main-container .box.moving {
  color: #caf7e2;
  border-color: #caf7e2;
  background-color: #58b09c;
}
#main-container .box.pre-delete {
  background-color: #ffcae9;
}
#main-container .box.pre-delete.pressed {
  color: #caf7e2;
  border-color: #caf7e2;
  background-color: #ff37a6;
}
#main-container form input {
  height: 2rem;
  border-radius: 10px;
  border: solid;
  border-color: #3d3522;
}
#main-container form#add-word {
  position: absolute;
  bottom: 40px;
  left: 20px;
}
#main-container form #submit-new-word {
  height: 2.5rem;
  cursor: pointer;
}
#main-container .results-container {
  display: flex;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  #main-container .results-container.showing-results {
    align-items: flex-start;
  }
}
#main-container .results-container .results-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  opacity: 1;
  width: 75%;
  max-width: 675px;
  min-height: 375px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  #main-container .results-container .results-content {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    border-radius: 0;
  }
}
#main-container .results-container .results-content .results-status {
  color: #000000;
  font-size: 1.25rem;
  margin-bottom: 3rem;
}
#main-container .results-container .results-content .results-status.error {
  color: #CC0000;
  margin-bottom: unset;
  font-size: 1rem;
  font-weight: 700;
}
#main-container .results-container .results-content #results-rows {
  width: 100%;
}
#main-container .results-container .results-content #results-rows #results-title {
  color: #000000;
  margin-bottom: 20px;
  font-weight: 600;
}
#main-container .results-container .results-content #results-rows .result-row {
  box-sizing: border-box;
  color: #000000;
  border-radius: 10px;
  width: 100%;
  margin: 10px 0;
  padding: 15px;
}
#main-container .results-container .results-content #results-rows .result-row .group {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}
#main-container .results-container .results-content #results-rows .result-row .members {
  font-size: 1.25rem;
}
#main-container .results-container .results-content #results-rows .result-row#row-0 {
  background-color: rgb(251, 212, 0);
}
#main-container .results-container .results-content #results-rows .result-row#row-1 {
  background-color: rgb(181, 227, 82);
}
#main-container .results-container .results-content #results-rows .result-row#row-2 {
  background-color: rgb(114, 158, 235);
}
#main-container .results-container .results-content #results-rows .result-row#row-3 {
  background-color: rgb(188, 112, 196);
}
#main-container .results-container .results-content form.select-day {
  color: #000000;
  max-width: 500px;
}
#main-container .results-container .results-content form.select-day .results-instructions {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 1.25rem;
}
#main-container .results-container .results-content form.select-day .select-day-inputs {
  height: 45px;
  display: flex;
  justify-content: center;
}
#main-container .results-container .results-content form.select-day .select-day-inputs input {
  height: inherit;
  box-sizing: border-box;
  margin: 0 10px;
  width: 70px;
  border: solid 2px;
}
#main-container .results-container .results-content form.select-day .select-day-inputs input[type=number] {
  width: 70px;
  font-size: 1.5rem;
}
#main-container .results-container .results-content form.select-day .select-day-inputs input[type=number]::-webkit-outer-spin-button, #main-container .results-container .results-content form.select-day .select-day-inputs input[type=number]::-webkit-inner-spin-button {
  appearance: none;
}
#main-container .results-container .results-content .close-btn {
  font-size: 1.25rem;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 335px;
  max-width: 95%;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
#main-container .lds-ripple {
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}
#main-container .lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation-play-state: running;
}
#main-container .lds-ripple div:nth-child(2) {
  animation-delay: -0.66s;
}
#main-container .lds-ripple div:nth-child(3) {
  animation-delay: -1.33s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
#main-container .hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
